:root {
  --rojo: #e50914;
  --fondo: #141414;
}
* {
  box-sizing: border-box;
}

mat-card-content {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 40px;
}
p {
  color: rgb(207, 207, 207);
}
mat-card-title {
  text-overflow: ellipsis;
  font-size: large;
  margin-bottom: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
  line-height: 30px;
}
mat-card {
  box-shadow: none !important ;
  background-color: rgba(37, 37, 37, 0);
  min-width: 20%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
  padding: 0rem 5rem 70px 5rem;
  width: 100%;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.flecha-izquierda,
.flecha-derecha {
  opacity: 0;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  height: 60px;
  top: 33%;
  line-height: 40px;
  width: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.4s ease all;
  border-radius: 9rem;
  outline: none;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: -4rem;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: -4rem;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
}

.pelicula {
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0 2px;
}
.carousel .layout-info {
  background-color: #141414;
}
.carousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center;
}

.carousel .pelicula img {
  width: 100%;
  vertical-align: top;
  margin: 0 0 15px 0;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  .pelicula-principal {
    font-size: 14px;
  }

  .pelicula-principal .descripcion {
    max-width: 100%;
  }

  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible;
  }

  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .peliculas-recomendadas .indicadores,
  .peliculas-recomendadas .flecha-izquierda,
  .peliculas-recomendadas .flecha-derecha {
    display: none;
  }
  mat-card {
    min-width: 90px !important;
  }
}

@media screen and (max-width: 1031px) {
  mat-card {
    min-width: 25%;
  }
  mat-card-title {
    font-size: 1.3rem;
    line-height: auto;
  }
}
@media screen and (min-width: 1304px) {
  mat-card {
    min-width: 16.66667%;
  }
}

@media screen and (min-width: 1633px) {
  mat-card {
    min-width: 14.2857142857%;
  }
}
