<div class="swiper-container mt-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let seri of serie" [ngStyle]="{
          'background-size':'cover',
          'background-image': 'url(https://image.tmdb.org/t/p/w500'+ seri.backdrop_path +')'
        }">
        </div>
    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>