<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"
      style=" background-image:url(https://image.tmdb.org/t/p/w200/{{peli.poster_path}}); "
      *ngFor="let peli of peliculas | async">
      <!-- <img src="" alt="{{peli.original_title}} "> -->
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
