.swiper-container {
  width: 100%;
  height: 320px;
  padding: 0 50px;
  margin-bottom: 2rem;
}
.swiper-wrapper {
}
.swiper-slide {
  border-radius: 5px;
  box-shadow: 2px 2px white;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-repeat:no-repeat ;
  background-size:contain ;background-position: center;
}
