<div class="container">
  <div class="row mt-5" *ngIf="pelicula">
    <div class="col-6 ">
      <h3>{{pelicula.title}} ({{pelicula.release_date | slice: 0:4}})</h3>
      <img [src]="pelicula.poster_path | noImagen" 
           [alt]="pelicula.title"
           class="img-thumbnail">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12"> 
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {{pelicula.overview}}
        </div>
        <div class="row mt-4 ">
          <div class="col-12">
            <p><span class="text">Titulo :</span> {{pelicula.title}}</p>
          </div>
        </div>
          <div class="row">
            <div class="col-2 ">
              <p><span>IMDB: </span></p>
            </div>
            <div class="col-4">
              <star-rating 
                [value]="pelicula.vote_average"
                totalstars="10"
                checkedcolor="yellow"
                uncheckedcolor="grey"
                size=15px
                readonly="false">
                </star-rating>
            </div>
            <div class="col-6">
              {{pelicula.vote_average | number:'1.1-2'}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p><span>Generos: </span> {{pelicula.genres[0].name}} | {{pelicula.genres[1].name}}</p>
            </div>
          </div>
  </div>
</div>

<div class="row mt-5" *ngIf="cast.length > 0">
  <div class="col">
    <app-slideshow [cast]="cast"></app-slideshow>
  </div>
</div>
